@import './reset.scss';
@import './mixin.scss';
@import './transition.scss';

.icon {
  color: #666;
  font-size: px2rem(16);
}

.title-text-title {
  color: #666;
  font-size: px2rem(16);
  font-weight: bold;
}
